@model Wexplorer.Web.Models.AdminModel
<table>
    <caption>Создать пост</caption>
    <tr>
        <td>Заголовок</td>
        <td>@Html.EditorFor(m => m.Post.Title)</td>
    </tr>
    <tr>
        <td>Имя поста в URL</td>
        <td>@Html.EditorFor(m => m.Post.UrlPost)</td>
    </tr>
    <tr>
        <td>Описание (не более 160 символов)</td>
        <td>@Html.EditorFor(m => m.Post.Description)</td>
    </tr>
    <tr>
        <td>Пост</td>
        <td>@Html.EditorFor(m => m.Post.Content)</td>
    </tr>
    <tr>
        <td>Ссылка на изображение для превью</td>
        <td>@Html.EditorFor(m => m.Post.Picture)</td>
    </tr>
    <tr>
        <td>Категория</td>
        <td>@Html.DropDownListFor(m=>m.Post.CategoryID, Model.CategoryItems)</td>
    </tr>
    <tr>
        <td><input type="submit" id="btn" value="Сохранить" style="margin-top: 20px;" /></td>
    </tr>
</table>

