<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="google-site-verification" content="WCB9-EIyifeHneJydz-RNbD9z6kDkv590zJBVS3Lv-o" />
    <title>@ViewBag.Title - My Blog</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("css", false)
    @RenderSection("Scripts", false)
</head>
<body>
    <div class="all">
        <div class="navigation">
            <nav itemscope itemtype="http://schema.org/SiteNavigationElement">
                <ul class="menu_items">
                    <li itemprop="blogPosts">@Html.ActionLink("Главная", "Posts", "Blog")</li>
                    <li itemprop="articleSection">@Html.ActionLink("Список статей", "SiteMap", "Blog")</li>
                    <li itemprop="about">@Html.ActionLink("Об Авторе", "AboutMe", "Blog")</li>
                    <li itemprop="contactType">@Html.ActionLink("Контакты", "Contacts", "Blog")</li>
                </ul>
            </nav>
        </div>
        <div class="content">
            @RenderBody()
        </div>
        <div itemscope itemtype="http://schema.org/WPFooter" class="footer">
            <p>&copy; @DateTime.Now.Year - wexplorer.ru</p>
        </div>
    </div>
</body>
</html>