@model Wexplorer.Web.Models.PostModel

@{
    ViewBag.Canonical = "http://wexplorer.ru/" + Model.Post.Category.UrlCategory + "/" + Model.Post.UrlPost;
    ViewBag.Title = Model.Post.Title;
    ViewBag.Description = Model.Post.Description;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (ViewData.ModelState.IsValid)
{
    if (@ViewBag.Name != null)
    {
        <b>
            Name : @ViewBag.NameUser<br />
            Email : @ViewBag.Email<br />
            Commentary : @ViewBag.Commentary
        </b>
    }
}
<div itemscope itemtype="http://schema.org/BlogPosting" class="post">
    <p>Автор: <span itemprop="author">Тимур Казанский</span><br></p>
    <span>Дата: <time itemprop="datePublished" class="post_date">@Model.Post.PublishedDate.ToString("dd/MM/yyyy hh:mm")</time></span>
    <h2 itemprop="headline" class="post_preview_h2">@Model.Post.Title</h2>
    <article itemprop="articleBody">@Html.Raw(Model.Post.Content)</article>
    <p>Категория: <span itemprop="articleSection">@Html.CategoryLink(Model.Post.Category.NameCategory, Model.Post.Category.UrlCategory, "Post")</span></p>
    @Html.Partial("BestPages")
    @Html.Partial("Comments")
</div>
@section Scripts {
    <script src='https://www.google.com/recaptcha/api.js' type="text/javascript"></script>
    @Scripts.Render("~/bundles/jqueryValidate")
}